@model Appointment

@{ViewData["Title"] = "Book Apartment";}

<div class="container py-1">
	<h1>Apartment</h1>
</div>


<div class="row">
	<div class="col">
		<img class="card-img-top w-100" src="~/Images/Default/building1.jpg" alt="Card image cap">
	</div>
	<div class="col px-5">
		<p class="text-lg"> @ViewBag.apartment.Building.getFullAddress() </p>

		<form asp-action="Book">
			<div asp-validation-summary="All" class="text-danger"></div>
			<input asp-for="Id" type="hidden" />
			<input asp-for="ManagerId" value="@ViewBag.apartment.Building.ManagerId" type="hidden" />
			<input asp-for="TenantId" value="@ViewBag.TenantId" type="hidden" />
			<div class="form-group">
				<label asp-for="Date" class="control-label"></label>
				<input asp-for="Date" class="form-control" />
				<span asp-validation-for="Date" class="text-danger"></span>
			</div>
			<div class="py-1"></div>
			<div class="form-group">
				<input type="submit" value="Book" class="btn btn-sm btn-indigo" />
			</div>
		</form>
	</div>
</div>
