@model Asp.Models.Appointment

@{
    ViewData["Title"] = "Apartment";
}

<h1>Details</h1>

<partial name="Shared/Details" />

<div>
    <a class="btn btn-amber" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-elegant" asp-action="Index">Back to List</a>
</div>
